<!DOCTYPE html>
<html lang="en">
  <title>Log in</title>

  <head>
    <%- include ('partials/head.ejs') %>
  </head>

  <body >
    <header><%- include ('partials/header.ejs') %></header>

    <main class="login_main">
      <article>
        <form action="/login" method="post" class="login-form">
          <h2>Inloggen</h2>
          <label for="username">username</label>
          <input type="text" id="username" name="username" />
          <label for="password">password</label>
          <input type="password" id="password" name="password" />
          <a href="/register">Klik hier om je te registreren</a>
          <button class="button_whiteborder"" type="submit">Inloggen</button>
          <div class="wrong_login"><%- loginFailed %></div>
        </form>

      </article>
    </main>

    <footer><%- include ('partials/footer.ejs') %></footer>
    <%- include ('script.ejs') %>
  </body>

</html>
 